.movie {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
}

.movie__container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.movie__left {
  display: flex;
  align-items: center;
  flex: 25;
}

.movie__left img {
  width: 100%;
  min-width: 250px
}

.movie__right {
  flex: 75;
  padding-top: 50px;
}

.movie__right h1 {
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 700;
  margin-bottom: 50px;
}

.movie__right h3 {
  display: -webkit-box;
  -webkit-line-clamp : 20;
  -webkit-box-orient: vertical;
  overflow : hidden;
  text-align: start;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  line-height: 25px;
}

.movie__right .rate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.movie__right span {
  font-size: 1rem;
  color: white;
  font-weight: 500;
}